body {
	text-align: center;
	margin-top: 100px;
	background-color: black;
	text-align: center;
}

img {
	width: 200px;
	height: 100px;
}

#timer {
	font-family: "Lato";
	color: grey;
	font-size: 200px;
	font-weight: 300;
}

button {
	width: 100px;
	height: 35px;
	border-radius: 15px;
	
}

button:hover {
	color: red;

}